.App {
    text-align: center;
} 

.Post-image {
    height: 200px;
    width: 100%;
    object-fit: none;
}
  
.App-header {

    background: linear-gradient(
        to bottom,
        #35CFFF 0%,
        #35CFFF 50%,
        #02AEEC 50%,
        #02AEEC 100%
    );
    min-height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Post{
    text-align: center;
}

.Post-header{
    background: linear-gradient(
        to bottom,
        #35CFFF 0%,
        #35CFFF 50%,
        #02AEEC 50%,
        #02AEEC 100%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Post-logo{
    height: 20vmin;
    padding-top: 0vmin;
    padding-bottom: 1vmin;
    pointer-events: none;
}

.Too-small{
    width: 60vmin;
    margin-top: 5vmin;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    z-index: 9999;
}
@media (max-width: 800px){
    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Overlay-title{
    margin: 5vmin;
    font-size: 5vmin;
    font-family: monospace;
}

.Post-title{
    padding-top: 1vmin;
    margin-top: 0vmin;
    margin-bottom: 2.5vmin;
    font-family: monospace;
}

.File-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vmin;
    padding: 1vmin;
    width: 80vmin;
}

.Movement-buttons {
    display: flex;
    width: 800px;
    height: 6vmin;
    padding: 0vmin;
    justify-content: space-between;
}

.Back-button {
    height: 4vmin;
    margin: 1vmin;
}

.Next-button {
    height: 4vmin;
}

.Submit-button {
    margin-right: 3vmin;
}

.Tag-input {
    margin-top: 1.5vmin;
    margin-right: 0vmin;
}

.Upload-file{
    float: left;
}

.White-circle {
    height: 700px;
    width: 700px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.White-circle-register {
    height: 900px;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.White-rectangle {
    margin-top: 7vmin;
    margin-bottom: 7vmin;
    width: 900px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vmin;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.Post-paragraphs{
    font-size: 2vmin;
}

.Floater{
    justify-self: end;
}

.File-name{
    font-size: 1.5vmin;
    text-align: left;
    color: #02AEEC;
}

.Margin-top{
    margin-top: 10px;
}

.Grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vmin;
    padding: 0vmin;
    width: 80vmin;
}

.Grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1vmin;
    padding: 0vmin;
    width: 800;
}

.Post-descriptions{
    align-items: left;
}

.form-description {
    font-size: 1.5vmin;
    margin-top: 10px;
    text-align: left;
}

/* == Styling Elements for the accountDetails component == */

.container-style {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header-style {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0px;
}

.email-header {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: -25px;
}

.about-style {
    font-size: 16px;
    color: black;
    width: 480px;
    margin-top: 20px;
    text-align: justify;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    color: black;
    margin: 0px;
}

h3 {
    color: black;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

h6 {
    color: black;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    padding: 1vmin;
}

.Post-image-page {
    height: 500px;
    width: 100%;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
/* Styling elements for the home page */

.landingText {
    font-size: 16px;
    color: black;
    margin-top: 20px;
}

.landing-desc-box {
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing-title{
    font-size: 60px;
    color: black;
    text-align: center;
    padding-Bottom:'50px';
}

.landing-post-container{
    flex: 1;
    display: 'flex';
    height: '100%';
    overflow: scroll;
}

.landing-post-container::-webkit-scrollbar{
    display: none;
}

.group-landing-image {
    height: 50px;
    width: 50px;
}

.circle-container{
    height: 70vh;
    margin: 11vh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}
.scroll-Button{
    background: none;
    border: none;
}